
/* @import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Kalam:wght@300;400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Hubballi&family=Kalam:wght@300;400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Hubballi&family=Kalam:wght@300;400;700&family=Pacifico&display=swap');



:root{
    --color-rosa-claro:#FF97B7;
    --color-rosa-fuerte: #FF5D8F;
    font-family: 'Comfortaa', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* estilos barra de navegacion */

nav{
    position: fixed;
    width: 100%;
    padding: 20px 0;
    font-family: 'Comfortaa', cursive;
    transition: all 0.4s ease;
    z-index: 998;
}

/* estilo para cuando el menu siempre este en la ventana */
nav.sticky{
    padding: 13px 0;
    background-color: var(--color-rosa-fuerte);
}

nav .navbar{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* estilo para el logo */
nav .navbar .logo img{
    width: 80px;
    height: 80px;
}

/* estilo para el menu */
nav .navbar .menu{
    display: flex;
}

nav .navbar .menu li{
    text-decoration: none;
    margin: 0 25px;
    list-style: none;
}

.navbar .menu li a{
    font-size: 20px;
    font-weight: 700;
    color: var(--color-rosa-fuerte);
    transition: all 0.3 ease;
}

.navbar .menu li a:hover{
    color: var(--color-rosa-fuerte);
}

nav.sticky .navbar .menu li a{
    color: #000000;
}

nav.sticky .navbar .menu li a:hover{
    color: #000000;
}

/* estilos para los iconos  */
.navbar .iconos a{
    font-size: 35px;
    color: var(--color-rosa-fuerte);
}

nav.sticky .navbar .iconos a{
    color:#000;
}

/* estilos boton para activar barra de navegacion */
nav .menu-btn, .navbar .cancelar-btn{
    position: absolute;
    color: #000000;
    font-size: 20px;
    right: 30px;
    top: 20px;
    display: none;
}

nav .menu-btn{
    color: var(--color-rosa-fuerte);
}

nav.sticky .menu-btn{
    color: #000000;
}

.navbar .menu .menu-btn{
    color: #000000;
}

.inicio {
    background: url("../img/banner.jpg") no-repeat;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
 
.inicio .inicio-contenido{
    height: 100vh;
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* estilos para texto de presentacion */
.inicio .texto .texto-uno{
    font-size: 60px;
    font-family: 'Pacifico', cursive;
}

.inicio .texto .texto-dos{
    font-size: 50px;
    font-weight: 600;
    margin-left: -3px;
}

.inicio .texto .texto-tres{
    font-size: 40px;
}

.inicio .texto .texto-cuatro{
    font-size: 23px;
    margin: 5px 0;
} 

.inicio .boton{
    margin: 28px 0;
}

.inicio .boton a{
    outline: none;
    color: #000;
    font-size:25px;
    font-weight: 500;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    background: #FFCAD4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.inicio .boton a:hover{
    color: #000000;
    background-color: var(--color-rosa-claro);
    border-color: var(--color-rosa-claro);
}

.informacion .inf-contenido{
    width: 80%;
    margin:40px auto;
    font-family: 'Courgette', cursive;
}

.informacion .inf-detalles{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inf-titulo{
    font-family: 'Courgette', cursive;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.inf-titulo span{
    color: #0E2431;
    font-size:30px;
    font-weight: 600;
    position: relative;
    padding-bottom: 8px;
}

.inf-titulo span:before,   
.inf-titulo span:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: var(--color-rosa-fuerte);
}

.inf-titulo span:after{
    width: 70%;
    left: 50%;
    transform: translateX(-50%);
    bottom:-7px
}

.informacion .inf-detalles .inf-izquierda{
    width: 45%;
}

.informacion .inf-detalles .inf-izquierda img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 12px;
}   

.informacion .inf-detalles .inf-derecha{
    width: 55%;
    padding-left: 5%;
    padding-right: 5%;
}

.informacion .inf-detalles .inf-derecha .inf-texto p{
    font-size: 25px;
    font-weight: 500;
    padding-bottom: 30px;
    color: #000;
    text-align: justify;
    font-family: 'Comfortaa', cursive;
}

.informacion .inf-detalles .inf-derecha .inf-texto ul li i{
    font-size: 25px;
    padding-right: 5px;
    color: var(--color-rosa-fuerte);
}

.informacion .inf-detalles .inf-derecha .inf-texto li {
    display: inline-flex;
    font-size: 17px;
    padding-right: 15px;
    position: center;
}

section{
    padding: 2rem 7%;
}

.productos-row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.productos-row .box{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #b185db;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 20px;
}

.productos-row .img img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.productos-row .img img:hover{
    transform: scale(1.1);
}

.productos-row .productos-contenido{
    margin-bottom: .4rem;
}

.productos-row .productos-contenido h3{
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    font-family: 'Comfortaa', cursive;
}

.productos-row .productos-contenido p{
    font-size: 20px;
    line-height: 1.6rem;
}

.productos-row .btn-ordenar{
    margin: 28px 0;
}

.productos-row .btn-ordenar a{
    outline: none;
    color: #000;
    font-size:18px;
    font-weight: 500;
    padding: 10px 28px;
    text-decoration: none;
    cursor: pointer;
    background: #FFCAD4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.productos-row .btn-ordenar a:hover{
    color: #000000;
    background-color: var(--color-rosa-claro);
    border-color: var(--color-rosa-claro);
}

.swiper-pagination{
    
    padding-top: 200px;
}

.adornos-row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}

.adornos-row .box{
    display: flex;
    flex-direction: column;
    width: 33%;
    background-color: #fffead;
    align-items: center;
    text-align: center;
    padding: 2rem;
    gap: 1.5rem;
    border-radius: 20px;
}

.adornos-row .img img{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}

.adornos-row .img img:hover{
    transform: scale(1.1);
}

.adornos-row .adornos-contenido{
    margin-bottom: .4rem;
}

.adornos-row .adornos-contenido h3{
    font-size: 30px;
    font-weight: 900;
    color: #000000;
    font-family: 'Comfortaa', cursive;
}

.adornos-row .adornos-contenido ul{
    justify-content:left;
    font-size: 20px;
    line-height: 1.6rem;
    list-style: none;
}

.adornos-row .btn-ordenar{
    margin: 28px 0;
}

.adornos-row .btn-ordenar a{
    outline: none;
    color: #000;
    font-size:18px;
    font-weight: 500;
    padding: 10px 28px;
    text-decoration: none;
    cursor: pointer;
    background: #FFCAD4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.adornos-row .btn-ordenar a:hover{
    color: #000000;
    background-color: var(--color-rosa-claro);
    border-color: var(--color-rosa-claro);
}

.especiales .especiales-row .box{
    display: flex;
    align-items: center;
    background-color: #96dfed;
    border-radius: 25px;
}

.especiales .especiales-row .box .img{
    flex: 1 1 45rem;
}

.especiales .especiales-row .box .img img{
    margin: 10% 10% 10% 10%;
     width: 90%;
     height: 90%;
     border-radius: 50%;
}

.especiales .especiales-row .box .contenido{
    flex: 1 1 45rem;
    padding: 2rem;
}   

.especiales .especiales-row .box .contenido h3{
    font-size: 30px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.especiales .especiales-row .box .contenido p{
    font-size: 20px;
}

.especiales-row .btn-ordenar{
    margin: 28px 0;
}

.especiales-row .btn-ordenar a{
    outline: none;
    color: #000;
    font-size:18px;
    font-weight: 500;
    padding: 10px 28px;
    text-decoration: none;
    cursor: pointer;
    background: #FFCAD4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.especiales-row .btn-ordenar a:hover{
    color: #000000;
    background-color: var(--color-rosa-claro);
    border-color: var(--color-rosa-claro);
}

.swiper-button-next{
    color: #000000;
}

.swiper-button-prev{
    color: #000000;
}

.footer {
    background-color: var(--color-rosa-claro);
    background-size: cover;
    background-position: center center;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding: 2rem 1rem;
}

.footer .box-container .mainBox .content{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.footer .box-container .mainBox .content img{
   width: 50%;
   height: 50%;
}

.footer .box-container .mainBox .content h1{
    font-size: 2rem;
    color: var(--black);
}

.footer .box-container .mainBox p{
    font-size: 1.7rem;
    line-height: 1.3;
    margin-bottom: 2rem;
}

.footer .box-container .box h3{
    font-size: 25px;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: var(--black);
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color: var(--black);
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .share{
    padding: 1rem 0;
    text-align: center;
}

.footer .share a{
    text-decoration: none;
    line-height: 4rem;
    font-size: 35px;
    color: var(--white);
    background: var(--black);
    margin: 0 .3rem;
}

.footer .share a:hover{
    background: var(--white);
    color: var(--black);
}

.formulario .formulario-row{
    margin-top: 7%;
    border-radius: 25px;
    padding: 1rem 1rem 1rem 1rem;
    border-color: #000;
    box-shadow: 0 8px 20px rgb(0 0 0 / 25%)
}

.formulario .formulario-row .box{
    padding-left: 10%;
    padding-right: 10%;
}

.formulario .formulario-row .box{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.formulario .formulario-row .box .formulario-input{
    padding-left: 50px;
    width: 50%;
}
.formulario .formulario-row .box .formulario-input2{
    padding-left: 50px;
    width: 100%;
}

.formulario .formulario-row .box .formulario-input p{
    display: block;
    font-weight: bold;
}

.formulario .formulario-row .box .formulario-input .form-input{
    display: block;
    width: 100%;
    min-height: 50px;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #151515;
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid var(--color-rosa-fuerte);
    border-radius: 10px;
    margin-bottom: 30px;
}

.formulario .formulario-row .box .formulario-input2 textarea{
    display: block;
    width: 210%;
    min-height: 50px;
    padding: 5px 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 26px;
    color: #151515;
    background-color: #ffffff;
    background-image: none;
    border-radius: 0;
    -webkit-appearance: none;
    transition: .3s ease-in-out;
    border: 1px solid var(--color-rosa-fuerte);
    border-radius: 10px;
    margin-bottom: 30px;
}

.formulario .formulario-row .box .formulario-input .iconoInput {
    color: var(--color-rosa-fuerte);
    font-size: 20px;
    position: absolute;
    left: 48%;
    padding-top: 15px;
}
.formulario .formulario-row .box .formulario-input .iconoInput2 {
    color: var(--color-rosa-fuerte);
    font-size: 20px;
    position: absolute;
    left: 82%;
    padding-top: 15px;
}

.formulario .formulario-row .box .boton{
    
    display: flex;
    padding-left: 40%;
    padding-right: 50%;
}

.formulario .formulario-row .box .boton a{
    outline: none;
    color: #000;
    font-size:25px;
    font-weight: 500;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    background: #FFCAD4;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.formulario .formulario-row .box .boton a:hover{
    color: #000000;
    background-color: var(--color-rosa-claro);
    border-color: var(--color-rosa-claro);
}

.formulario .formulario-row .box table {   
    padding-left: 20%;  
    padding-right: 20%;  
    font-size: 12px;    
    margin: 45px;     
    width: 100%; 
    text-align: left;    
    border-collapse: collapse; 
    border-radius: 20px; 
}

.formulario .formulario-row .box table caption{
    font-size: 30px;
} 

.formulario .formulario-row .box th {     
    font-size: 18px;     
    font-weight: bold; 
    text-align: center;    
    padding: 8px;     
    background: #c77dff;
    border-top: 4px solid #9d4edd;    
    border-bottom: 1px solid #fff; 
    color: #000000;
}


.formulario .formulario-row .box td {    
    padding: 8px; 
    font-size: 15px;    
    text-align: center; 
    background: #bdb2ff;     
    border-bottom: 
    1px solid #fff;
    color: #000000;    
    border-top: 1px solid transparent; 
}

.formulario .formulario-row .box tr:hover td { 
    background: #c0fdff;
}



